tensorboard                        1.14.0
tensorflow-estimator               1.14.0
tensorflow-gpu                     1.14.0
termcolor                          1.1.0
terminado                          0.8.1
testpath                           0.3.1
tflite-runtime                     1.14.0